body {
  background-color: gainsboro;
  font-family: system-ui, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 64px);
  grid-template-columns: repeat(5, 64px);
  gap: 10px;
}

.sqr {
  width: 64px;
  height: 64px;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: #fcfcfc;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.sqr.selected {
  border-color: #a0a0a0;
  transform: scale(1.05);
}

.sqr:hover .dot {
  transform: scale(1.08);
}

.navbar {
  background: #94C6E7;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;

}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #39648e;
  text-decoration: underline;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  display: flex;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}

.selected {
  border: 3px solid black;
  transform: scale(1.1);
  filter: brightness(0.75);
}

.home-background {
  display: flex;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.home-background img {
  width: 100%;
  height: 100%;
  display: block;
}

.grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 20px auto;
  padding: 24px;
  background: #EEEEEE;
  border-radius: 16px;


}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - -100px);

}

.btn-play {
  background-color: white;
  color: #94C6E7;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-play:hover {
  background-color: #EEEEEE;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#reset {
  background-color: #EEEEEE;
  color: #94C6E7;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

}

#start {
  background-color: #EEEEEE;
  color: #94C6E7;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
  font-weight: bold;
  font-size: 30px;
}

.timer {
  position: absolute;
  top: -40px;
  right: -70px;
  transform: translateY(-50%);
  background-color: #EEEEEE;
  color: #94C6E7;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 40px;
  margin: 0;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
}

.contact-page {
  width: 100%;
  margin: 0;
  padding: 0 0 80px 0;
}

.contact-us-banner {
  position: relative;
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.contact-us-background {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-message h1 {
  font-weight: 700;
  color: #222222;
}

.banner-message p {
  font-size: 20px;
  color: #1d1d1d; 
}

.contact-us-details {
  font-size: larger;
  font-weight: bold;
  color: #989898;
  list-style-type: none;
}

.contact-us-container h1 {
  color: #2a4a6a;
  margin: 35px;
}